@media (max-width: 1000px) {
  .nav-links {
    width: 60%;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: #686592;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-out;
  }

  .nav-links.show {
    transform: translateX(0);
  }

  .nav-links li {
    text-align: center;
    padding: 3rem 0;
    opacity: 0;
  }

  .nav-links li a {
    font-size: 2rem;
    color: #fff;
  }

  .hamburger {
    display: block;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .slide-content {
    padding: 15vh 10% 10vh 10% !important;
  }

  .owl-prev,
  .owl-next {
   display: none;
  }

  .services-grid,
  .popular-vendors-grid {
    flex-direction: column;
  }

  .services-info {
    width: 60%;
  }

  .testimonial-content,
  .find-vendors > *,
  .download > * {
    padding-left: 10%;
    padding-right: 10%;
  }

  .popular-vendors-info {
    width: 65%;
  }

  .download a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-height: 600px) {
  .header .slide-content {
    padding-bottom: 20%;
  }
}

@media (max-height: 450px) {
  .header .slide-content {
    padding-top: 20% !important;
    padding-bottom: 20% !important;
  }

  .nav-links li {
    padding: 1rem 0;
  }
}
